body {
  color: #2a3d45;
  background-color: rgba(234, 250, 241, 0.5);
  color: black;
  font-weight: 500px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://wpmisc.com/sites/default/files/wallpaper/abstract/65839/abstract-blue-hd-wallpapers-65839-392128.jpg');
  opacity: 0.8;
  opacity: 0.8;
  font-family: 'Amiri', serif;
}

h1 {
  text-align: center;
  font-family: 'Monoton', serif;
  text-decoration: underline;
}



.container p {
  text-align: center;
}

.container .col-md-5 {
  padding: 30px 0;
}

.container #total-0,
.container #total-1 {
  margin: 80px;
  font-size: 86px;
}

.container #current-0,
.container #current-1 {
  margin: 0 auto;
  height: 70px;
  width: 80px;
  background-color: red;
  color: #fff;
}



.dice {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #BADA55;

  border: 2px solid black;
  margin: 50px auto;
  border-radius: 25px;
  box-shadow: 5px 5px #888;
}

.dice p {
  font-size: 46px;
  text-align: center;
  padding-top: 17px;
}

#diceimg {}



.active {
  background-color: #e8e8e8;
}

.font-red {
  color: red;
}


.white {
  margin: 8px 0;
  border: 2px solid #886176;
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px 20px 5px;
  border-style: outset;
  width: 700px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  text-align: justify;
}