body {
  color: #2a3d45;
  background-color: rgba(234, 250, 241, 0.5);
  color: black;
  font-weight: 500px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://wpmisc.com/sites/default/files/wallpaper/abstract/65839/abstract-blue-hd-wallpapers-65839-392128.jpg');
  opacity: 0.8;
  opacity: 0.8;
  font-family: 'Amiri', serif;
}